$primary: hsl(180, 66%, 49%);
$secondary: hsl(257, 27%, 26%);
$danger: hsl(0, 87%, 67%);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
@import '../node_modules/bootstrap/scss/bootstrap';

